/**
 * partials/main
 * ---
 * Main
 */

@import "../modules/_reset.scss";

/*------------------------------------*\
    MAIN
\*------------------------------------*/

// For fixed-top navbar
body {
  margin-top: 50px;
}

/* global box-sizing */
*,
*:after,
*:before {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}
html,
body {
  font-family: $base_font_family;
  i,
  a {
    color: $webapp_primary !important;

    &:hover {
      color: lighten($webapp_link_base_color, 25%) !important;
    }
  }
}
/* clear */
.clear:before,
.clear:after {
  content:' ';
  display:table;
}

.clear:after {
  clear:both;
}
.clear {
  *zoom:1;
}
img {
  max-width:100%;
  vertical-align:bottom;
}
a:focus {
  outline:none!important;
}
a:hover,
a:active {
  outline: none !important;
}
input:focus {
  outline:none !important;
  border:1px solid $primary;
}
.bg-light {
  background-color: #eaebec !important;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

.wrapper {
  width: 100%;
}


/* header */
.header {

}
/* logo */
.logo {

}
.logo-img {

}
/* nav */
.nav {

}


/* sidebar */
.sidebar {

}
/* prefooter */
.prefooter{

}
/* footer */
.footer {

}

/*------------------------------------*\
    PAGES
\*------------------------------------*/



/*------------------------------------*\
    IMAGES
\*------------------------------------*/



/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

//@font-face {
//  font-family:'Font-Name';
//  src:url('fonts/font-name.eot');
//  src:url('fonts/font-name.eot?#iefix') format('embedded-opentype'),
//  url('fonts/font-name.woff') format('woff'),
//  url('fonts/font-name.ttf') format('truetype'),
//  url('fonts/font-name.svg#font-name') format('svg');
//  font-weight:normal;
//  font-style:normal;
//}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
  background:#04A4CC;
  color:#FFF;
  text-shadow:none;
}
::-webkit-selection {
  background:#04A4CC;
  color:#FFF;
  text-shadow:none;
}
::-moz-selection {
  background:#04A4CC;
  color:#FFF;
  text-shadow:none;
}

