.btn,
.base-button {
  display: block;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  outline: none;
  border: none;
}

button,
.button,
.btn,
.base-button,
.elementor-button {
  outline: none;
  font-weight: $font-weight-bold;
  font-size: $base_font_size;
  background: $webapp_primary;
  color: $button_light_text_color !important;
  -webkit-border-radius: $button_less_border_radius;
  -moz-border-radius: $button_less_border_radius;
  border-radius: $button_less_border_radius;
  -webkit-transition: all linear 350ms;
  -moz-transition: all linear 350ms;
  -ms-transition: all linear 350ms;
  -o-transition: all linear 350ms;
  transition: all linear 350ms;

  &:hover {
    outline: none;
    background: transparent !important;
    border: 1px solid $button_primary_border_color;
    color: $button_hover_text_color !important;
    -webkit-transition: all linear 350ms;
    -moz-transition: all linear 350ms;
    -ms-transition: all linear 350ms;
    -o-transition: all linear 350ms;
    transition: all linear 350ms;
  }
}

button.close {
  background: $webapp_primary;
  position: absolute;
  background: $webapp_primary;
  padding: 15px;
  border-radius: 0;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 5;

  &:hover {
    outline: none;
    background: transparent !important;
    border: 1px solid $button_primary_border_color;
    color: $button_hover_text_color !important;
    -webkit-transition: all linear 350ms;
    -moz-transition: all linear 350ms;
    -ms-transition: all linear 350ms;
    -o-transition: all linear 350ms;
    transition: all linear 350ms;
  }
}