.card {
  border: none;
  margin-bottom: 15px;

  .card-body {
    border: 1px solid $webapp_grey_boder_color;
    box-shadow: $elementor_style_box_shadow;
    border-radius: $button_less_border_radius;
    -webkit-transition: $transition-base;
    -moz-transition: $transition-base;
    -ms-transition: $transition-base;
    -o-transition: $transition-base;
    transition: $transition-base;

    &:hover {
      box-shadow: $elementor_hover_style_box_shadow;
      border: 1px solid $webapp_primary_border_color;
      -webkit-transition: $transition-base;
      -moz-transition: $transition-base;
      -ms-transition: $transition-base;
      -o-transition: $transition-base;
      transition: $transition-base;
    }

    img {
      display: block;
      width: 200px;
      height: auto;
      margin: auto;
    }
  }
}