/**
 * partials/footer
 * ---
 */

footer {
  position: relative;
  font-size: 0.7rem;
  background: $webapp_dark_background;
  height: 50px;
  color: $footer_font_color_light;
  bottom: 150px;

  p {
    margin: 0;
    text-align: center;
    font-size: 0.7rem;
  }

  a {
    color: $footer_font_color_light !important;
  }
}

