/**
 * partials/header
 * ---
 */

header.header {
  height: 50px;
  background: $webapp_dark_background;
  box-shadow: $default_box_shadow;
  -webkit-transition: all linear 600ms;
  -moz-transition: all linear 600ms;
  -ms-transition: all linear 600ms;
  -o-transition: all linear 600ms;
  transition: all linear 600ms;

  a {
    color: $webapp_white;
  }

  .header-inner {
    height: 100%;
    display: block;
    position: relative;
    height: 100%;

    .brand-block{
      height: 100%;

      a.custom-logo-link {
        display: block;
        position: relative;
        height: 100%;
        width: auto;

        img {
          display: block;
          height: 100%;
          width: auto;
          max-width: none;
        }
      }

      a.brand {
        display: block;

        &:hover {
          text-decoration: none;
        }

        h1 {
          font-size: 1.2rem;
          margin: 0;
          color: $webapp_white;
        }
      }

    }

    .wp-welcome-message {
      color: $webapp_white;
    }

    form.search.form-inline {
      height: 30px;
      padding: 0;
      margin: auto;

      input {
        height: 30px !important;
        max-height: 30px !important;
        padding: 0;
      }

      button.search-submit {
        height: 30px !important;
      }
    }

    @media all and (max-width: 1280px) {
      font-size: 0.75em;
    }
  }
}

header.header.fixed {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1500;
  -webkit-transition: all linear 600ms;
  -moz-transition: all linear 600ms;
  -ms-transition: all linear 600ms;
  -o-transition: all linear 600ms;
  transition: all linear 600ms;
}





