/* main */
main {
  margin: auto;
  padding-top: 30px;
  left: 50px;
  -webkit-transition: all linear 400ms;
  -moz-transition: all linear 400ms;
  -ms-transition: all linear 400ms;
  -o-transition: all linear 400ms;
  transition: all linear 400ms;

  section {

  }
}

main.pushedright {
  left: 250px;
  -webkit-transition: all linear 400ms;
  -moz-transition: all linear 400ms;
  -ms-transition: all linear 400ms;
  -o-transition: all linear 400ms;
  transition: all linear 400ms;
}