/**
 * partials/sidebar
 * ---
 */


aside#webapp-sidebar.sidebar {
  width: 250px;
  display:  block !important;
  visibility: visible !important;
  position: fixed;
  top: 50px;
  left: -200px;
  height: 100%;
  padding: 0;
  -webkit-transition: all linear 400ms;
  -moz-transition: all linear 400ms;
  -ms-transition: all linear 400ms;
  -o-transition: all linear 400ms;
  transition: all linear 400ms;

  ul#bs4navbar.nav{
    display: block;
    position: relative;
    height: 100%;
    background: $webapp_dark_background;
    padding: 0;

    li.current-menu-item a {
      color: lighten($webapp_link_base_color, 20%) !important;
      border-right: 5px solid $webapp_primary;
      -webkit-transition: all linear 400ms;
      -moz-transition: all linear 400ms;
      -ms-transition: all linear 400ms;
      -o-transition: all linear 400ms;
      transition: all linear 400ms;
    }


    li {
      @extend .nav-item;
      width: 100%;
      display: block;
      position: relative;
      line-height: 30px;

      &:before {
        font-family: "Fontawesome", "Font Awesome 5 Free", "fontawesome";
        color: #209e91;
        //font-weight: 700;
        display: inline;
        position: absolute;
        font-size: 1rem;
        right: 15px;
        top: 10px;
      }

      &:hover .dropdown-menu {
        display: none;
        width: 100%;
        position: relative !important;
        background-color: transparent !important;
      }

      a.nav-link {
        font-family: "Dosis", sans-serif;
        font-weight: $font-weight-lighter;
        font-size: 0.8rem;
        text-transform: uppercase;
        height: 100%;
        display: flex;
        align-items: center;
        color: $webapp_white;
        -webkit-transition: all linear 400ms;
        -moz-transition: all linear 400ms;
        -ms-transition: all linear 400ms;
        -o-transition: all linear 400ms;
        transition: all linear 400ms;
        z-index: 2;


        &:hover .dropdown-menu {
          width: 100%;
          position: relative !important;
          background-color: transparent !important;
        }

        .dropdown-menu {
          position: relative !important;
          width: 100%;
          background-color: transparent;
          background-clip: padding-box;
          border: none;
          will-change: unset !important;
          transform: none !important;
        }

        &:hover,
        &:focus {
          border-right: 5px solid $webapp_primary;
          color: $webapp_link_base_color;
          -webkit-transition: all linear 400ms;
          -moz-transition: all linear 400ms;
          -ms-transition: all linear 400ms;
          -o-transition: all linear 400ms;
          transition: all linear 400ms;
        }
      }

      a.nav-link.active,
      li.current-menu-item a{
        color: $webapp_link_hover_color;
      }





      .dropdown-menu.show{
        display: block !important;
        position: relative !important;
        width: 100%;
        z-index: 1;
        float: none;
        min-width: 10rem;
        padding: 0 30px;
        margin: 0.125rem 0 0;
        font-size: 1rem;
        color: $webapp_white;
        text-align: left;
        list-style: none;
        background-color: transparent;
        background-clip: padding-box;
        border: none;
        will-change: unset !important;
        transform: none !important;


        .dropdown-item {
          display: block;
          width: 100%;
          padding: 0.15rem 0px;
          clear: both;
          font-weight: 400;
          color: $webapp_white;
          white-space: nowrap;
          background-color: transparent;
          border: 0;

          &:hover,
          &:focus {
            border-right: 5px solid $webapp_primary;
            color: $webapp_link_base_color;
            -webkit-transition: all linear 400ms;
            -moz-transition: all linear 400ms;
            -ms-transition: all linear 400ms;
            -o-transition: all linear 400ms;
            transition: all linear 400ms;
          }
        }

        .dropdown-item.active{
          border-right: 5px solid $webapp_primary;
          color: $webapp_link_base_color;
        }
      }
    }
  }
}


aside#webapp-sidebar.sidebar.collapsing {
  display: none;
}

aside#webapp-sidebar.sidebar.show,
aside#webapp-sidebar.sidebar:hover {
  left: 0;
  -webkit-transition: all linear 400ms;
  -moz-transition: all linear 400ms;
  -ms-transition: all linear 400ms;
  -o-transition: all linear 400ms;
  transition: all linear 400ms;
}






