html *{
  font-family: $base-font-family !important;
  font-size: $base_font_size;
  //-ms-text-size-adjust: 100%;
  //-webkit-text-size-adjust: 100%;
}

body,
body* {
  font-family: $base_font_family !important;
  font-size: $base-font-size;
  //line-height: $base-line-height;
  //font-weight: $base-font-regular;
}

p {
  font-family: $base-font-family;
  font-size: $base-font-size;
  //font-weight: $base-font-regular;
  //line-height: $base-line-height;
  //text-align: $base-text-align;
}

//a{
//  color: spiwapp-color('dark-blue', 'dark');
//  &:hover{
//    color: spiwapp-color('blue', 'light');
//  }
//}

.text-justify {
  text-align: justify;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $title_font_family !important;
  text-transform: uppercase;
  font-weight: $base_title_weight_bold;
}

h1,
.h1,
h2,
.h2 {
  color: $main_title_font_color !important;
}

h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: lighten($main_title_font_color, 10%) !important;
}

i,
a {
  &:hover {
    color: lighten($webapp_link_base_color, 20%);
  }
}

@for $i from 1 through 6 {
  h#{$i},
  .h#{$i} {
    font-size: $base_h1_size - (($i*10)*$base_h1_size/100);
    //line-height: $title-line-height - (($i*10)*$title-line-height/100);
  }
}

blockquote {
  padding: 0 0 0 18px;
  border-left: 0;

  &::before {
    font-family: "Font Awesome 5 Free", Sans-serif;
    content: "\f10d";
    font-weight: 700;
    margin-right: 13px;
    float: left;
  }

  small {
    line-height: 29px;
    color: #8b91a0;
    padding-left: 30px;
  }
}
