.hamburger {
  border: none ;
  padding: 0;
  margin-left: 10px;
  outline: none !important;
  color: white !important;

  label {
    color: white !important;
    display: inline;
    position: relative;
    left: 10px;
    top: -5px;
  }

  &:hover,
  &:focus,
  &:active {
    border: none ;
    outline: none !important;
  }

  .hamburger-inner ,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 40px;
    height: 2px;
    background-color: #209e91;
  }
}