/**
 * modules/variables
 * ---
 */

///**
// * Colors
// */
//
//$selection-bg: #04A4CC;
//
//
///**
// * Grid
// */
//
//$wrapper-width: 1280px;
//
//$padding-horizontal-base: 5px;
//$padding-vertical-base: 5px;
//$margin-horizontal-base: 5px;
//$margin-vertical-base: 5px;
//$margin-horizontal-large: 15px;
//$margin-vertical-large: 15px;

/* Bootstrap override */

/* Fontawesome  */
$fa-font-path:        "fontawesome/webfonts";

/* Custom Variables */
$black: #000;

$theme-colors: (
        primary: #209e91
);

$webapp_primary: #209e91;
$webapp_white: #fff;
$webapp_grey: #9e9e9e;
$webapp_light_grey: #eaeaea;
$webapp_black: #000;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;


/** Fonts ***/
$title_font_family: 'Jura', sans-serif;
$title_text_uppercase: uppercase;
$base_h1_size: 2rem;
$base_font_family: 'Dosis', sans-serif;
$base_font_size: 12pt;
$main_title_font_color: #209e91;
$second_title_font_color: lighten($main_title_font_color, 25%);

/** Bacgkround **/
$webapp_dark_background: #1C2B36;
$webapp_light_background: #9e9e9e;

/** about the Footer **/
$dark_footer: #23282d;
$light_footer: #fff;
$footer_font_color_light: #fff;
$footer_font_color_dark: #000;

/** Box-shadow **/
$default_box_shadow: -5px 10px 15px -10px rgba(0, 0, 0, 0.2);
$elementor_style_box_shadow: 0px 0px 55px 5px rgba(0,0,0,0.06);
$elementor_hover_style_box_shadow: 0px 0px 55px 5px rgba(0,0,0,0.15);

/** Buttons ***/
$button_primary_border_color: #209e91;
$button_less_border_radius: 5px;
$button_more_border_radius: 15px;
$button_light_text_color: #fff;
$button_hover_text_color: #209e91;

/** Links color **/
$webapp_link_base_color: #209e91;
$webapp_link_hover_color: darken(#209e91, 25%);

/** borders **/
$webapp_light_border: 1px;
$webapp_bold_border: 2px;
$webapp_extra_bold_border: 5px;

/** borders color **/
$webapp_primary_border_color: #209e91;
$webapp_grey_boder_color: #9e9e9e;
$tables_border_color: #8f9498;

/** titles font-weight **/
$base_title_weight_bold: 700;
$title_light_weight: 600;

$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;